.landing-page {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 100px;
}

.landing-page .first h1{
font-size: 75px;
color: #000000;
}

/* .landing-page .second{
  width: 100%;
  height: 250px;
  background-color: #f4f4f4;
  margin-top: 2rem;
  border-radius: .4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */
.landing-page .second p{
  color: rgb(0, 0, 0);
  font-size: 2.25rem;
  margin: 3rem 0rem;
  width:50%;
}
button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  margin-left: 2rem;
  border-radius: .4rem;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;

}

button:hover {
  background-color: #323232;
}