
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #ffffff;
    border-bottom: 2px solid #3d30a2;
    height: 85px;
    z-index: 1000;
  }
  

  .logo h2 {
    color: #000000;
    font-size:2rem;
    font-family: "Playwrite DE Grund", cursive;
    margin: 0;
    flex: 1;
  }
  .logo h2 span{
    font-family: "Playwrite DE Grund", cursive;
    color: #EA4335;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex: 2;
  }
  
  .nav-links li {
    margin: 0 20px;
  }
  
  .nav-links li a {
    color: #3d30a2;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  /* Right: Authentication Buttons (desktop view) */
  .auth-buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .auth-buttons ul {
    display: flex;
  }
  
  .auth-buttons ul li {
    margin: 0 10px;
  }
  
  .auth-buttons ul li a {
    background-color: #ff6347;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .auth-buttons ul li a:hover {
    background-color: #ff4500;
  }
  
  /* Mobile Menu Icon */
  .mobile-menu-icon {
    display: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
  
  /* Mobile menu and responsive styles */
  @media (max-width: 768px) {
    .nav-links,
    .auth-buttons {
      display: none;
    }
  
    .nav-links-mobile,
    .auth-links-mobile {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #333;
      padding: 20px;
      text-align: center;
    }
  
    .nav-links-mobile li,
    .auth-links-mobile ul li {
      margin: 15px 0;
    }
  
    .mobile-menu-icon {
      display: block;
      z-index: 1000; /* Keeps it above the menu */
    }
  }
  
  