.test-container {
    width: 100%;
    /* height: 100vh; */
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f9;
    padding: 0 20px;
    margin: 20px 0;
  }
  
  .test-content {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .test-step {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.45);
    text-align: center;
    padding: 20px;
    flex: 1 1 250px;
    margin: 20px;
    transition: transform 0.3s ease;
  }
  
  .test-step:hover {
    transform: translateY(-10px);
  }
  
  .personality-image {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #f0f0f0;
  }
  
  .test-step h3 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
  }
  
  .test-step p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
  }
  
  @media (max-width: 768px) {
    .test-content {
      flex-direction: column;
      align-items: center;
    }
    
    .test-step {
      width: 90%;
      margin: 10px 0;
    }
  }
  