/* Grid Layout */
.image-hover-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-top: -100px;
  }
  
  .hover-image-container {
    width: 30%;
    position: relative;
    overflow: hidden;
  }
  
  .hover-image {
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .hover-text {
    position: absolute;
    bottom: -110px;
    left: 0;
    right: 0;
    background-color: rgba(1, 0, 76, 0.4);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    transition: bottom 0.4s ease-in-out;
  }
  
  .hover-image-container:hover .hover-text {
    bottom: 0;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .hover-image-container {
      width: 45%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .hover-image-container {
      width: 100%;
    }
  }
  